include header
include site-header
    section
       h1(class="h3") Настройки
         table
           thead
             tr
              th Действия
         tbody
           tr
             td
              p
                a(href="/users")
                    h4 Добавить / удалить / изменить настройки пользователей
              td
              p
                a(href="/questions")
                    h4 Добавить / удалить / изменить вопросы
              td
               p
                a(href="/question-type")
                    h4 Добавить типы вопросов
              td
               p
                a(href="/const")
                    h4 Константы



include footer.pug