footer
    div(class="container")
        div(class="row")

    p(class="copyright align-center") Made by Surzhansky Alexey
script(src='/javascripts/script.js')
script(src='/javascripts/getQuestions.js')

