include header

include site-header
div(class='wrap')
    ul(class="menu")
        li
            a(href="/test") Тестирование
        li
            a(href="/materials") Обучающие материалы
div(class='container full-width number1')
    div(class='container-info')
        ul(class="tabs")
            li
                a(class="tab active" href="#") Приборный учет
            li
                a(class="tab" href="#") Договорная работа
            li
                a(class="tab" href="#") Коммунальные услуги



include footer

