include header
include site-header
    div(class='main')
        div(class='row question')
        div(class='row answer')
        h4 Вы прошли тестирование, Ваш результат #{result} %




include footer
