include header
include site-header
    h1(class="h2") Типы вопросов
    div
        section
            table
                thead
                    tr
                        th Поиск
                            th
                                input(type='text' placeholder='поиск типа вопроса')

            table
                thead
                    tr
                        th -
                        th id
                        th Тип вопроса
                        tbody
                        each val, index in questionTypelist
                            tr
                            td(class="align-right")
                                button(class="button-primary-outlined delete-question-type" id=val['test_set_id']) Удалить
                                td #{val['test_set_id']}
                                td
                                    a(href="TqSet?test_set_id="+val['test_set_id']) #{val['test_name']}

    form( action="/add-type-question" method="POST")
        label Тип вопроса:
            input(name="test_name" type="text")
        input(type="submit" class="button"  id='add-type-question' value="Добавить")


include footer